<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WDInstagram</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <h1>Corginstagram</h1>
        <nav>
            <a href="/">All Corgis</a>
            <a href="/entries/new">Add a New Corgi</a>
            <a href="/entries/">Corgis By Author</a>
        </nav>
        <div class="main-column">
            <%= yield %>
        </div>


    </body>
</html>
