body {
    background-color: #FAFAFA;
    color: #004879;
}

h1 {
    text-align: center;
    color: #004879;
}

nav {
    text-align: center;
    padding-bottom: 25px;
    font-size: 1.5em;
}

.main-column {
    width: 50%;
    margin: 0 auto;
}

.entry-info {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;

}

.entry-item {
    display: inline-block;
    font-size: 1.5em;
}



.prof-pic {
  height: 50%;
  width: 25%;
}
.authors-pics {
  display: block;
}

.hidden-input {
    display: none;
}

.comment-box {
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 10px;
}
form {

}

label {

}

input {
    display: block;
    margin-bottom: 25px;
    height: 30px;
    width: 300px;
}
