* {
    background-color: red;
}

h1 {
    text-align: center;
    color: white;
}

.main-column {
    width: 60%;
    margin: 0 auto;
    /*text-align: center;*/

}

/*.entry-info {
    background-color: white;

}*/

.entry-item {
    display: inline-block;
    font-size: 1.5em;
}

/*button {
    float: right;
    margin-top: 20px
}

button:clicked {

}*/


.prof-pic {
  height: 50%;
  width: 25%;
}
.authors-pics {
  display: block;
}
