<h2>Add a new Corgi</h2>

<form action="/" method="post">
    <label>Author ID:</label>
    <input type="text" name="entry[author_id]">

    <label>Photo URL (ONLY CORGIS ALLOWED):</label>
    <input type="text" name="entry[photo_url]">

    <label>Date taken:</label>
    <input type="text" name="entry[date_taken]">

    <label>Caption:</label>
    <input type="text" name="entry[caption]">

    <input type="submit" value="Add Corgi">
</form>
