<form action="/authors" method="post">
    <label>Name:</label>
    <input type="text" name="author[name]">

    <label>Bio</label>
    <input type="text" name="author[bio]">

    <label>Profile Pic</label>
    <input type="text" name="author[prof_pic]">

    <input type="submit" value="Add Author">
</form>
